langchain
langchain-core
langgraph
dbtc==0.11.3
langchain-openai
langchain-anthropic
langchain-community
python-dotenv
selenium
unstructured
psutil
beautifulsoup4
pinecone-client[grpc]
langchain-pinecone
jupyter
duckduckgo-search
